/* General reset and body styles */
body, h1, h2, p, a, input, select, label, textarea, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation styles */
nav {
    background-color: #1a1a1a;
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.nav-title a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.sign-container {
    display: flex;
    align-items: center;
}

.dropbtn {
    background-color: #1a1a1a;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropbtn:hover {
    background-color: #003bb5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content .dropdown-item {
    color: #333;
    padding: 12px 16px;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content .dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hidden utility class */
.hidden {
    display: none;
}

/* Inner container styles */
.inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0; /* 기존 padding 제거 */
    width: 100%; /* 너비를 전체로 확장 */
}

/* Main content styles */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Search container styles */
.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1600px
}

.search-container input,
.search-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 13px;
    min-width: 140px;
}

.search-container input[type="date"] {
    max-width: 140px;
}

.search-container input::placeholder,
.search-container select {
    color: #999;
}

.search-container button {
    background-color: #cccccc;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.search-container button:hover {
    background-color: #b9b9b9;
}

#resetButton {
    background-color: #8b8b8b;
}

#resetButton:hover {
    background-color: #555;
}

/* Worklog cards styles */
.worklog-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.worklog-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 300px;
    position: relative;
    transition: box-shadow 0.3s, transform 0.3s;
}

.worklog-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.worklog-card p {
    margin: 10px 0;
}

.worklog-card .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button.view-details,
button.delete-log,
button.edit-log {
    background-color: #cccccc;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 14px;
    margin: 0 5px;
}

button.view-details:hover,
button.edit-log:hover {
    background-color: #bdbdbd;
    transform: scale(1.05);
}

button.delete-log {
    background-color: #000000;
    color: #ffffff;
}

button.delete-log:hover {
    background-color: #414141;
    transform: scale(1.05);
}

/* Summary section */
#summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px; /* 요소 간의 간격 */
}


#total-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* 각 항목 간격 */
    margin-bottom: 20px;
    background-color: #fff; /* 카드 배경색 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 카드 그림자 */
    width: 100%;
    max-width: 1600px; /* 카드 최대 너비 */
    text-align: center;
}

#total-worktime, #worklog-count {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
    max-width: 1600px; /* 카드 최대 너비 */
}

#worklog-count:hover, #total-worktime:hover {
    transform: translateY(-5px); /* 마우스 오버 시 카드가 살짝 올라오는 효과 */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* 그림자 강화 */
}

#buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* 버튼 간격 */
    max-width: 1200px; /* 카드 최대 너비 */
}

#buttons-container button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#buttons-container button:hover {
    background-color: #363636;
    transform: scale(1.05);
}

/* Top 5 Engineers */
#top5-engineers {
    display: flex;
    flex-direction: row; /* 가로 정렬 */
    justify-content: space-between; /* 요소를 양쪽 끝에 배치 */
    align-items: flex-start; /* 세로 방향으로 위쪽 정렬 */
    width: 100%; /* 부모 컨테이너의 전체 너비 사용 */
    max-width: 1200px; /* 최대 너비 제한 */
    gap: 20px; /* 요소 간 간격 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* Individual stats sections */
#top5-worktime-stats,
#top5-taskcount-stats {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%; /* 두 요소가 동일한 크기 */
    box-sizing: border-box; /* 패딩 포함 크기 */
    text-align: center;
    font-size: 16px;
}

.worker-stats {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%;
    margin: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.worker-stats h2 {
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.worker-stat {
    background-color: #f4f4f9;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.worker-stat p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.worker-stat p.name {
    font-weight: bold;
    color: #000000;
}

/* Top 1 worker special style */
.worker-stat.top-1 {
    background-color: #3a3a3a;
    color: #ffffff;
}

.worker-stat.top-1 p.name {
    color: #ffffff;
}

.worker-stat.top-1 p {
    color: #fff;
}

.worker-stat.empty {
    visibility: hidden;
    height: 0;
}

.worker-stat:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ddd;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    color: #333;
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: black;
    text-decoration: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form element styling */
.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content form div {
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-content form input,
.modal-content form select,
.modal-content form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.modal-content form button[type="submit"] {
    background-color: #cccccc;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    margin-top: 10px;
}

.modal-content form button[type="submit"]:hover {
    background-color: #c7c7c7;
    transform: scale(1.05);
}

/* Button styles */
#exportExcelButton, #exportTransferExcelButton {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 10px;
}

#exportTransferExcelButton {
    background-color: #000000;
}

#exportExcelButton:hover {
    background-color: #363636;
    transform: scale(1.05);
}

#exportTransferExcelButton:hover {
    background-color: #363636;
    transform: scale(1.05);
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Footer styles */
footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-title a {
        font-size: 20px;
    }

    .sign-link, .dropbtn {
        padding: 8px 12px;
        font-size: 14px;
    }

    .dropdown-content {
        min-width: 100px;
    }

    .dropdown-content .dropdown-item {
        padding: 10px 12px;
    }

    h2 {
        font-size: 24px;
    }

    /* Search container */
    .search-container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 100%; /* 부모 요소의 전체 너비 사용 */
        padding: 10px; /* 모바일에서 적절한 여백 */
        box-sizing: border-box;
    }

    .search-container input,
    .search-container select {
        width: 90%; /* 화면 크기에 맞게 너비 조정 */
    }

    .search-container button {
        width: 90%; /* 버튼도 동일하게 정렬 */
    }

    /* Worklog cards */
    .worklog-cards {
        flex-direction: column;
        gap: 10px; /* 카드 간의 간격 */
        align-items: center; /* 가운데 정렬 */
    }

    .worklog-card {
        width: 100%; /* 화면 크기에 맞춘 카드 너비 */
    }

    /* Top 5 Engineers */
    #top5-engineers {
        flex-direction: column; /* 작은 화면에서는 세로 정렬 */
        align-items: center; /* 가운데 정렬 */
        gap: 15px; /* 카드 간격 추가 */
    }

    #top5-worktime-stats,
    #top5-taskcount-stats {
        width: 90%; /* 모바일에서는 전체 너비 */
    }

    .worker-stats {
        width: 90%; /* 카드 너비 */
        margin-bottom: 15px; /* 카드 간격 */
    }

    #total-work {
        flex-direction: column;
        padding: 15px;
        width: 100%; /* 모바일에서는 전체 너비 */
        text-align: center;
    }

    #worklog-count, #total-worktime {
        width: 100%; /* 너비 조정 */
        margin-bottom: 10px;
    }

    #exportExcelButton,
    #exportTransferExcelButton {
        width: 90%; /* 버튼 너비 조정 */
        margin-left: 0;
        margin-top: 10px;
    }

    /* Summary Section Gap */
    #summary {
        gap: 15px; /* 각 섹션 간 간격 */
    }
}


/* Menu button styles */
.menu-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    position: fixed;
    top: 3%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1100;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
}

.menu-icon span {
    display: block;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}


/* Menu bar styles */
.menu-bar {
    position: fixed;
    top: 0;
    right: -350px; /* 메뉴 바가 초기 화면에서 완전히 숨겨짐 */
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1001;
}

.menu-bar.open {
    right: 0;
}

.menu-bar-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    color: #000000;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover {
    background-color: #e7e7e7;
    color: #000000;
}

.menu-item:last-child {
    border-bottom: none;
}

/* Hidden and utility classes */
.hidden {
    display: none;
}

/* Main content and footer styles */
.inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    background-color: #0044cc;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.button {
    background-color: #fff;
    color: #0044cc;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.button:hover {
    background-color: #003bb5;
    color: #fff;
}
